@model List<WinesWorld.Services.Models.WineServiceModel>

@{
    ViewData["Title"] = "All - Wines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row mt-3">
    <div class="col-2">
        <aside class="col-left sidebar">
            <div class="col-md-12 col-lg-6">
                <strong>Търсене на: </strong>
            </div>
            <div class="col-md-12 col-lg-6 text-left">
                <form method="post" asp-controller="Wines" asp-action="All">
                    <span class="text-muted">Цвят:</span>
                    <select id="selectColour">
                        <option>Please select one</option>
                        <option value="White">White</option>
                        <option value="Red">Red</option>
                        <option value="Rose">Rose</option>
                    </select>

                    <span class="text-muted">Тип:</span>
                    <select id="selectType">
                        <option>Please select one</option>
                        <option value="Dry">Dry</option>
                        <option value="SweetWine">Sweet wine</option>
                        <option value="SparkleWine">Sparkle wine</option>
                    </select>
                    <span class="text-muted">Държава:</span>
                    <select id="selectCountry">
                        <option >Please select one</option>
                        <option value="Bulgaria">Bulgaria</option>
                        <option value="Argentina">Argentina</option>
                        <option value="New Zealand">New Zealand</option>
                    </select>
                </form>
            </div>
        </aside>        
    </div>

    <div class="col-md-10">
        <div class="row">
            @foreach (var wine in Model)
            {               
                <div class="card col-md-3" style="width: 18rem;">
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(wine.Picture)" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@wine.Name</h5>
                        <p class="card-text">@wine.Description</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@wine.Type</li>
                        <li class="list-group-item">@wine.Country</li>
                        <li class="list-group-item">@wine.Colour</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Order</a>
                        <a href="/Wines/Details/@wine.Id" class="card-link">Details</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $('select').on('change', function () {
        let counter = 0;
        for (let select of $('select')) {
            
            
            if (select.textContent != 'Please select one') {

            }

            counter++;
        }

        if ($('#selectColour').val() != 'Please select one') {

            $('.card').show();

            
            for (let elem of $('.card')) {

                console.log($($(elem).children()[2]).children()[2].textContent)
                
                if ($($(elem).children()[2]).children()[2].textContent != $('#selectColour').val()) {
                    $(elem).hide();
                }
            }

        } else {
            $('.card').show();
        }

        

        
    });
</script>
