@model List<WinesWorld.Web.ViewModels.Article.All.ArticleAllViewModel>

@using WinesWorld.Services.Models.Enums;

@{
    ViewData["Title"] = "All - Articles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Content -->
<div class="container mt-3">
    <div class="row">
        <form id="select-category" class="col-md-4">
            <label for="Category">Select a category:</label>
            <select class="form-control text-dark" id="type" for="Category">
                <option selected>--- Select Product Type ---</option>
                @foreach (var type in (List<ArticleCategorySetviceModel>)this.ViewData["articleCategories"])
                {
                    <option value="@type">@type.ToString()</option>
                }
            </select>
            <span id="Category" class="text-danger"></span>
        </form>
    </div>
    <!-- Page Heading -->
    <h1 class="my-4">
        Articles Page<br />
        <small>Find out how to understand the wine and which part of it is inside of you....</small>
    </h1>

    @foreach (var item in Model)
    {
        <!-- Project One -->
        <div class="row product">
            <div class="col-md-4">
                <a href="#">
                    @*<img class="img-fluid rounded mb-3 mb-md-0" src="@item.LinkMainPicture" height="10">*@
                    <img src="@item.LinkMainPicture" height="200">
                </a>
            </div>
            <div class="col-md-8">
                <h3>@item.Title</h3>
                <p>@item.Category</p>
                <p>@item.BrefContent</p>
                <a class="btn btn-dark" href="/Articles/Details/@item.Id">View Article</a>
            </div>
        </div>
        <!-- /.row -->

        <hr>
    }
</div>
<!-- /.container -->


<script>
    $('#type').on('change', function () {
        $('.product').show();

        if ($('#type').val() != '--- Select Product Type ---') {
            let category = $('#type').val();

            for (let elem of $('.product')) {
                let productCategory = $($($(elem).children()[1]).children()[1]).text();

                if (!productCategory.toLowerCase().includes(category.toLowerCase())) {
                    $(elem).hide();
                }
            }
        }

    });



</script>
